body{
    background-color: 	 #ffcc80;
  }
  .all-notes-container{
    height: 450px;
    width: 300px;
    margin-top: 10px;
    background-color:  #fff5e6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    box-shadow: 2px 3px 3px 2px #8e8686;
    display: flex;
    justify-content: center;
  }
  .note-container{
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 100px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
  }
  .app-title{
   display: flex;
   justify-content: center;
   font-size: 20px;
   font-family: 'Courier New';
   font-weight: bold;
  }