body {
  background-color: #ffcc80;
}

.all-notes-container {
  max-height: 450px;
  width: 300px;
  margin-top: 10px;
  background-color: #fff5e6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  box-shadow: 2px 3px 3px 2px #8e8686;
  display: flex;
  justify-content: center;
  overflow-y: scroll;

}

.app-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Courier New';
  font-weight: bold;
}

.partition-line {
  border-left: none;
  border-bottom: none;
  border-right: none;
  border: double 1px black;
  margin-bottom: 10px;
}

.note-editor-container {
  max-height: 450px;
  width: 300px;
  margin-top: 10px;
  background-color: #fff5e6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  box-shadow: 2px 3px 3px 2px #8e8686;
  padding: 14px;

}

.add-note-title {
  text-align: center;

}

.addnote-btn {
  display: flex;
  justify-content: center;
}

.footer-container {
  text-align: end;
  position: relative;
  right: 13px;
  top: 6px;

}
.Name{
  font-size: 10px;
}